// See: https://sass-lang.com/

body {
  background-color: #eee;

  #menu_header {
    color: #ffffff;
    text-align: center;
    background-color: rgb(76, 74, 100);
    margin-top: 0;
    padding: 20px;
    
  }

  h1 {
    color: #443c3c;
    text-align: center;
  }

  .menu img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }

  #container {
    display: flex;
    justify-content: space-between;
    padding: 2px 20px 2px 20px;
  }

  #welcome_page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #order_button {
    text-align: center;
    margin: 0 30px;
    
  }

  .order_counter {
    display: flex;
    justify-content: space-around;
    padding: 0 60px 0 60px;
  }

  #total_bill, .order_counter h4 {
    color: green;
    font-weight: bold;

  }

  #portion {
    width: 60px;
    text-align: center;
    text-align-last:right;
    padding-right: 20px;
    direction: rtl;
  }

  #payment_page {
    margin-top: 100px;
    display: block;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    
  }

  #payment_page h3 {
    display: inline;
  }

  #payment_page img {
    height: 30px;
  }

  #active_order {
    margin-left: 20px;
    margin-right: 20px;
  }

  #order_container {
    border-bottom: 1px black solid;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

  }

  #order_container h4, h5, p {
    margin: 0;
    padding: 0;
  }

  #order_estimate img {
    width: 100px;
    height: auto;
  }

  #owner_buttons {
    display: flex;
    height: 40px;
    justify-content: space-between;
  }

  #complete_order {
    margin-left: 1em;
  }
}
